<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @page_title || "MDM Web - URL/PDF to Markdown Converter" %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#0ea5e9">
    <% if @page_description %>
      <meta name="description" content="<%= @page_description %>">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_typescript_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
